<IfModule mod_rewrite.c>
RewriteEngine on
RewriteBase /finalProject
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule .* index.php [L,QSA]
</IfModule>


#<IfModule mod_rewrite.c>
#	RewriteEngine on
#	RewriteCond %{REQUEST_FILENAME} !-d
#	RewriteCond %{REQUEST_FILENAME} !-f
#	RewriteRule ^(.*)$ index.php?q=$1 [L,QSA]
#</IfModule>



#TODO: CHECK HOW TO FORBID ACCESS TO FOLDERS LIKE localhost/Core ... that means acces to folders that really exist, 
#because the url rewrite only really redirect to index.php if, folder/file doesnt exist
#
#Order Allow,Deny 
#Deny from all 
#
#<FilesMatch "\.(jpg|gif|png|php)$">
#    Order Deny,Allow
#   Allow from all
#</FilesMatch>

#Excluye archivos y los manda a index.php
Options +FollowSymLinks +ExecCGI
<IfModule mod_rewrite.c>
    RewriteEngine On
    #RewriteBase /
    RewriteCond %{REQUEST_FILENAME}  -f [OR]
    RewriteCond %{REQUEST_FILENAME} !-f [OR]
    RewriteCond %{REQUEST_FILENAME} !-d [OR]
    RewriteCond %{REQUEST_FILENAME} !-l
    #images
    RewriteCond %{REQUEST_URI} !(\.png|\.jpg|\.gif|\.jpeg|\.bmp)$
    #files
    RewriteCond %{REQUEST_URI} !(\.pdf|\.txt)$
    #public web files
    RewriteCond %{REQUEST_URI} !(\.css|\.js|\.json)$
    RewriteRule ^(.*)$ index.php [NC,L,QSA]
</IfModule>

#deny acess to composer json files
<FilesMatch "^(composer|installed)\.json$">
    Order allow,deny
    Deny from all
    Satisfy All
</FilesMatch>