<div class="alert alert-danger mt-4" role="alert">
  <h4 class="alert-heading">APPLICATION ERROR #1100</h4>
  <p>El número de incidencia que has buscado no se encuentra en nuestra base de datos.</p>
  <hr>
  <p class="mb-0">
    Utilice el botón «Atrás» de su navegador web para volver a la página anterior. Allí puede corregir los problemas que han sido identificados
     en esta notificación de error o seleccionar otra acción. También puede hacer click sobre una opción de la barra de menú para ir directamente
     a una nueva sección o buscar una nueva incidencia en el buscador.
    </p>
</div>
